body{
	background-color: #E6E6FA;
	
}

.container{
	margin: 10px auto 50px auto;
	background-color: white;
	width: 450px;
	height: 630px;
	border: 1px solid #DCDCDC;

}

h1{
	padding: 10px 40px 10px 40px;
	text-align: center;
	font-size: 18px;
	margin-bottom: 0px;


}

img{
	margin-left: 180px;
	margin-bottom: 10px;  
	width: 100px;
}

p{
	font-size: 16px;
	padding-left: 20px;
	margin-left: 40px;
	line-height: 1.3;
	

}


 .line{
	margin: 0px 40px 0px 40px;
	border-bottom: 1px solid #696969;
	padding-bottom: 10px;
	
}
	

ul{
	border-bottom: 2px solid #A9A9A9;
	padding-bottom: 20px;
	margin: 0px 40px 0px 40px;
 	
}




